body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}
section {
  display: flex;
  border-radius: 20px;
  width: 600px;
  background-color: hsl(0, 0%, 100%);
  height: 400px;
}
.PartLeft {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
  background-color: hsl(234, 85%, 45%);
  flex-direction: column;
  border-radius: 20px;
}
.circal {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 125px;
  height: 117px;
  border-radius: 60px;
  background-color: hsla(256, 72%, 46%, 1);
}
.PartRight {
  padding-left: 30px;
}
.first {
  margin-bottom: 10px;
  width: 240px;
  border-radius: 10px;
  display: flex;
  color: hsl(0, 100%, 67%);
  background-color: hsl(0, 100%, 92%);
}
.disoffirst {
  display: flex;
}
.second {
  margin-bottom: 10px;
  width: 240px;
  border-radius: 10px;
  display: flex;
  color: hsl(39, 100%, 56%);
  background-color: hsl(40, 79%, 89%);
}
.disofsecond {
  display: flex;
}
.therd {
  margin-bottom: 10px;
  width: 240px;
  border-radius: 10px;
  display: flex;
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 89%);
}
.disoftherd {
  display: flex;
}
.four {
  margin-bottom: 30px;
  width: 240px;
  border-radius: 10px;
  display: flex;
  color: hsl(234, 85%, 45%);
  background-color: hsl(235, 100%, 89%);
}
.disoffour {
  display: flex;
}
button {
  color: hsl(0, 0%, 100%);
  width: 240px;
  height: 38px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: hsl(234, 85%, 45%);
}
